{% extends 'base_generic.html' %} {% load static i18n %} {% block title %}
  {% trans 'Set New Password' %}
{% endblock %} {% block header_title %}
  {% trans 'Set New Password' %}
{% endblock %} {% block content %}
  <div class="form-card">
    <h2 class="form-title">{% trans 'Set New Password' %}</h2>

    {% if token_fail %}
      <div class="alert alert-danger" role="alert">
        <p>
          {% trans 'The password reset link was invalid, possibly because it has
      already been used. Please request a new password reset.' %}
        </p>
      </div>
      <div class="form-links">
        <p>
          <a href="{% url 'account_reset_password' %}">{% trans 'Request a new password reset' %}</a>
        </p>
      </div>
    {% else %}
      {% if form %}
        <form method="post" action="{{ action_url }}" class="styled-form password_reset_from_key" novalidate>
          {% csrf_token %} {{ form.as_p }}

          <button name="action" type="submit" class="button button-primary btn-submit">{% trans 'Change Password' %}</button>
        </form>
      {% else %}
        <p>
          {% trans 'Your password is now changed.' %}
        </p>
        {# Default allauth message #}
        <div class="form-links">
          <a href="{% url 'account_login' %}" class="button button-primary w-full">{% trans 'Sign In' %}</a>
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}--- END OF FILE password_reset.html ---
