{% extends "base_generic.html" %}
<!-- Line 1 -->
{% load static i18n socialaccount %}
<!-- Line 2 -->
<!-- Line 3 MUST BE EMPTY or start a comment/HTML -->
{% block title %}
<!-- Line 4 (or later, but NOT line 3) -->
{% trans "Sign up" %}
<!-- Line 5 -->
{% endblock title %}
<!-- Line 6 -->

{% block content %}
<div class="form-card">
  <h2 class="form-title">{% trans "Create Account" %}</h2>

  <form
    method="post"
    action="{% url 'account_signup' %}"
    class="styled-form signup"
  >
    {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
    <input
      type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"
    />
    {% endif %}
    <button type="submit" class="btn-submit">{% trans "Sign Up" %}</button>

    <div class="form-links">
      <p>
        {% trans "Already have an account?" %}
        <a href="{{ login_url }}">{% trans "Sign In" %}</a>
      </p>
    </div>
  </form>

  {% if socialaccount.providers %}
  <div class="socialaccount_ballot">
    <h3 class="socialaccount-title">{% trans "Or Sign Up With" %}</h3>
    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with
      process="connect" %}
    </ul>
    <div class="login-or">{% trans 'or' %}</div>
  </div>
  {% endif %}
</div>
{% endblock %}
